html, body {
  height: 99%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Диалог */
mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  overflow: auto;
}

/* Все mat-form-field одинаковой ширины */
mat-form-field {
  width: 100%;
}

/* Кнопки действий */
mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 16px;
}

.small-dialog .mat-mdc-dialog-container {
  width: 400px !important;
  max-width: 400px !important;
  min-width: 300px !important;
  margin: 0 auto !important;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

html, body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #ffffff !important;
}

.mat-mdc-table {
  background-color: white !important;
}
