<h2 mat-dialog-title>Добавить запись</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Номер участника</mat-label>
      <input matInput formControlName="athleteBibNumber"/>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Контрольный пункт</mat-label>
      <mat-select formControlName="checkPointId" (selectionChange)="onSelectCheckPoint($event.value)">
        <mat-option *ngFor="let cp of checkPoints" [value]="cp.id">
          {{ cp.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Дата</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="checkPointDate"
             (dateChange)="validateDateTime($event)"
             (dateInput)="validateDateTime($event)"/>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker (input)="validateDateTime($event)"></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Время</mat-label>
      <input matInput type="time" formControlName="checkPointTime" step="1"
             (change)="validateDateTime($event)"
             (input)="validateDateTime($event)"/>
    </mat-form-field>
    <mat-error *ngIf="form.get('checkPointDate')?.hasError('timeRange') || form.get('checkPointTime')?.hasError('timeRange')">
      {{ validatorMessage$ | async }}
    </mat-error>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Отмена</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="form.invalid">
    Сохранить
  </button>
</mat-dialog-actions>
