:host {
  display: block;
  width: 100%;
}


.duration-input {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;

  input {
    width: 37px;
    text-align: center;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
  }

  .hoursInput {
    width: 42px;
  }

  &.disabled input {
    color: rgba(0, 0, 0, 0.38);
  }
}
