<h2 mat-dialog-title>Добавить атлета</h2>

<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-dialog-content style="display:flex; flex-direction: column; gap: 12px;">

    <mat-form-field appearance="fill">
      <mat-label>Фамилия</mat-label>
      <input matInput formControlName="lastName"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Имя</mat-label>
      <input matInput formControlName="firstName"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Отчество</mat-label>
      <input matInput formControlName="middleName"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Дата рождения</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthDate"/>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Пол</mat-label>
      <mat-select formControlName="sex">
        <mat-option *ngFor="let sex of sexes" [value]="sex.code">{{ sex.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Город</mat-label>
      <input matInput formControlName="city"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Клуб</mat-label>
      <input matInput formControlName="club"/>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="cancel()">Отмена</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Добавить</button>
  </mat-dialog-actions>
</form>
