<ng-container *ngIf="raceFormat$ | async as raceFormat">
  <p><strong>Название:</strong> {{ raceFormat?.name }}</p>
  <p><strong>Описание:</strong> {{ raceFormat?.description }}</p>
  <p><strong>Тип участия:</strong> {{ raceFormat?.type | toEnumName }}</p>
  <p><strong>Состояние:</strong> {{ raceFormat?.state | toEnumName }}</p>
  <p><strong>Дата начала:</strong> {{ raceFormat?.startDateTime | toRusDateTime }}</p>
  <p><strong>Дата завершения:</strong> {{ raceFormat?.finishDateTime | toRusDateTime }}</p>
  <p><strong>Группы атлетов:</strong> {{ athleteGroups$ | async | joinList }}</p>
  <p><strong>Ссылка на просмотр результатов: </strong>
    <a href="#" (click)="navigate(raceFormat.viewToken);$event.preventDefault();">{{ raceFormat?.viewToken }}</a>
  </p>
  <p><strong>Ссылка на редактирование результатов: </strong>
    <a href="#" (click)="navigate(raceFormat.editToken);$event.preventDefault();">{{ raceFormat?.editToken }}</a>
  </p>

  <div style="display:flex; justify-content: space-between; align-items:center; margin-bottom: 16px; min-width: 200px">
    <button mat-flat-button color="primary" (click)="onAddDistanceSchema()">Добавить схему круга</button>
  </div>
  <div style="display:flex; justify-content: space-between; align-items:center; margin-bottom: 16px; min-width: 200px">
    <button mat-flat-button color="primary" (click)="onAddAttitudeProfile()">Добавить профиль высоты</button>
  </div>
</ng-container>

