.header-row {
  background: #ffe599;
  text-align: center;
}

.disqualified {
  background: #fff5f5 !important;;
}

.finished {
  background: #f1fff1 !important;
}

.registered {
  background: white;
}

.check-time-expired {
  color: red;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  & > div > button {
    margin-left: 10px;
  }
}

.race-name-container {
  display: flex;
  flex-direction: column;
}

.race-actions-container {
  display: flex;
  flex-direction: column;
}

.race-action {
    margin-top: 2px;
    padding: 2px 8px;
    font-size: 10px;
    min-width: 64px;
    line-height: 28px;
    height: 28px;
  white-space: nowrap;
}

.athlete-data-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: start;
}

.athlete-data-time {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: start;
}

.athlete-data-name {
  display: flex;
  align-items: center;
}

.zero-line-row {
  height: 0;
}

.one-line-row {
  height: 25px;
}

.img-container {
  min-width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

.img {
  width: 90%;
  height: auto;
}

.protocol-table {
  width: 100%;
}

.name-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: center;
}

th {
  padding: 5px;
  text-align: center;
}

td {
  padding: 5px;
}

.place-cell {
  text-align: end;
  font-weight: bold;
}

.table-wrapper {
  max-height: 350px;
  border: 1px solid black;
  border-collapse: collapse;
  overflow-y: auto;
}

.sticky-header {
  position: sticky;
  top: 0;
  background: #ffe599;
  height: 30px;
}
