.header {
  padding-left: 30px;
  padding-right: 30px
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  & > div > button {
    margin-left: 10px;
  }

}

.fix-button {
  margin-top: 2px;
  padding: 2px 8px;
  font-size: 10px;
  min-width: 64px;
  line-height: 28px;
  height: 28px;
  white-space: nowrap;

  position: absolute;
  top: 5px;  /* отступ от нижнего края */
  right: 5px;   /* отступ от правого края */
  z-index: 100;  /* чтобы быть поверх контента */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.protocol-table {
  width: 100%;
  height: 100%;
}

.protocol-table-wrapper {
  margin-left: 30px;
  margin-right: 30px;
  border: 1px dotted black;
  overflow-y: auto;
}

.fixed-table {
  height: 71vh;
}

.not-fixed-table {
  height: 100%;
}

.left {
  text-align: left;
}

th, td {
  border: 1px dotted black;
  border-collapse: collapse;
}

.control-row {
  background: #ffe599;
  color: red;
}

.leader-row {
  background: #fbe4d5;
}

.header-row {
  background: #ffe599;
}

.athlete-row {
  background: white;
}

.params-header {
  width: 100px;
  position: relative;
}
.abs-place-column {
  width: 80px;
}

.place-column {
  width: 140px;
}

.checkpoint-column {
  width: 150px;
}

.check-time-expired {
  color: red;
}

.checkpoint-distance-row {
  height: 10px;
}

.athlete-name-header {
  width: 850px;
}

.athlete-name-column {
  width: 850px;
}

.athlete-data-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.time-detail-column {
  width: 380px;
  min-width: 240px;
}

.diff-time {
  color: #1976d2;
}

.diff-time-row {
  height: 10px;
}

.control-time {
  color: red;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.zero-line-row {
  height: 0;
}

.one-line-row {
  height: 25px;
}

.two-line-row {
  height: 50px;
}

.three-line-row {
  height: 75px;
}

.center {
  text-align: center;
}

.athlete-actions {
  display: flex;
  justify-items: stretch;

}

.action-button {
  background-color: transparent;
  :hover {
    color: #1976d2;
  }
  border-width: 0;

}

.action-button-container {
  position: relative;
}

.control-action-button {
  :hover {
    color: #1976d2;
  }
  border-width: 0;
  position: absolute;
  background-color: transparent;
  top: 0;
  right: 0;
}

.img-container {

  min-width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

.img {
  width: 90%;
  height: auto;
}

.athlete-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: start;
}

.sticky-header {
  position: sticky;
  top: 0;
  height: 25px;
  background: #ffe599;
  z-index: 10;
}

.sticky-header-2 {
  position: sticky;
  top: 25px;
  height: 60px;
  background: #ffe599;
  z-index: 9;
}

.sticky-header-3 {
  position: sticky;
  top: 87px;
  height: 26px;
  background: #ffe599;
  z-index: 8;
}

.sticky-header-4 {
  position: sticky;
  top: 113px;
  height: 50px;
  background: #ffe599;
  z-index: 7;
}

.sticky-header-5 {
  position: sticky;
  top: 163px;
  height: 50px;
  background: #fbe4d5;
  z-index: 6;
}

.sticky-header-6 {
  position: sticky;
  top: 213px;
  height: 25px;
  background: #fbe4d5;
  z-index: 5;
}

.sticky-header-7 {
  position: sticky;
  top: 238px;
  height: 25px;
  background: #ffe599;
  z-index: 4;
}

.disqualified {
  background: #fff5f5 !important;
}

.finished {
  background: #f1fff1 !important;
}
