<h2>Просмотр атлета</h2>
<ng-container *ngIf="athlete$ | async as athlete">
  <p><strong>Имя:</strong> {{ athlete?.firstName }}</p>
  <p><strong>Фамилия:</strong> {{ athlete?.lastName }}</p>
  <p><strong>Отчество:</strong> {{ athlete?.middleName }}</p>
  <p><strong>Дата рождения:</strong> {{ athlete?.birthDate | toRusDate }}</p>
  <p><strong>Пол:</strong> {{ athlete.sex | toEnumName }}</p>
  <p><strong>Город:</strong> {{ athlete.city?.name }}</p>
  <p><strong>Клуб:</strong> {{ athlete.club }}</p>
</ng-container>

<div style="display:flex; justify-content: space-between; align-items:center; margin-bottom: 16px; min-width: 200px">
  <button mat-flat-button color="primary" (click)="onEdit()">Редактировать</button>
</div>
