.date-time{
 display: flex;
  flex-direction: row;
}

.date-wrapper {
  width: 180px;
  padding: 0;
}

.date{
  display: flex;
  flex-direction: row;
  width: 140px;
}

.time-wrapper {
  width: 110px;
  padding: 0;
}

.time {
  margin-top: 7px;
  padding: 0;
  width: 80px;
}
