<h2 mat-dialog-title>Добавить контрольную точку</h2>

<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Порядковый номер</mat-label>
      <input type="number" matInput formControlName="orderNumber"/>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Название</mat-label>
      <input matInput formControlName="name"/>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Описание</mat-label>
      <input matInput formControlName="description"/>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Расстояние от старта (км)</mat-label>
      <input type="number" matInput formControlName="distance" step="0.01"/>
    </mat-form-field>

    <app-duration-split-field formControlName="controlDuration" [label]="'Контрольное время'"/>

    <app-duration-split-field formControlName="leaderDuration" [label]="'Время лидера'"/>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Отмена</button>
  <button mat-raised-button color="primary" (click)="submit()" [disabled]="form.invalid">
    Сохранить
  </button>
</mat-dialog-actions>
