<h2 mat-dialog-title>Добавить соревнование</h2>

<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-dialog-content style="display:flex; flex-direction: column; gap: 12px;">
    <mat-form-field appearance="fill">
      <mat-label>Название</mat-label>
      <input matInput formControlName="name"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Описание</mat-label>
      <input matInput formControlName="description"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Тип</mat-label>
      <mat-select formControlName="raceType" (selectionChange)="onSelectRaceType($event.value)">
        <mat-option *ngFor="let type of raceTypes"
                    [value]="type.id">{{ type.name }}
        </mat-option>
        <mat-option value="-1">
          <em>+ Добавить новый…</em>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Дата</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="raceDate" />
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Место проведения</mat-label>
      <mat-select formControlName="city" (selectionChange)="onSelectCity($event.value)">
        <mat-option *ngFor="let city of cities"
                    [value]="city.id">{{ city.name }}
        </mat-option>
        <mat-option value="-1">
          <em>+ Добавить новое…</em>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="cancel()">Отмена</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Добавить</button>
  </mat-dialog-actions>
</form>
