<h2 mat-dialog-title>
  <span>{{ 'Время участника #' + data.athleteInfo.bibNumber }}</span>
  <br>
  <span>{{ '(' + data.athleteInfo.member.name + ')' }}</span>
</h2>

<form>
  <mat-dialog-content class="dialog-content">
    <div class="table-wrapper">
      <table mat-table [dataSource]="data.checkPoints" class="data-table" multiTemplateDataRows="true">
        <ng-container matColumnDef="checkPoint">
          <th mat-header-cell *matHeaderCellDef class="header-cell">КТ</th>
          <td mat-cell *matCellDef="let row">
            <div class="cell-wrapper">
              <div class="cell">
                <div class="bold">{{ row.name }}</div>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="checkPoint2">
          <td mat-cell *matCellDef="let row">
            <div class="cell-wrapper">
              <span *ngIf="row.open">Местное время</span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="distance">
          <th mat-header-cell *matHeaderCellDef class="header-cell">КМ</th>
          <td mat-cell *matCellDef="let row">
            <div class="cell-wrapper">
              <div class="cell">
                <div>{{ row.totalDistance }}</div>
              </div>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="distance2">
          <td mat-cell *matCellDef="let row">
            <div class="cell-wrapper">
              <div class="cell">
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="raceTime">
          <th mat-header-cell *matHeaderCellDef class="header-cell" style="width: 113px;">Чистое время Время между КТ</th>
          <td mat-cell *matCellDef="let row">

            <div class="cell-wrapper">
              <div class="cell">
 <span class="bold"
       [ngClass]="{'check-time-expired': getCheckPointCheckTimeExpired(row.id)}">{{
     getCheckPointRaceDuration(row.id)
   }}</span>
                <span class="diff-time">{{ getCheckPointDiffTime(row.id) }}</span>
              </div>
            </div>

          </td>
        </ng-container>

        <ng-container matColumnDef="raceTime2">
          <td mat-cell *matCellDef="let row">
            <div class="cell-wrapper">
              <div class="cell">
                <span *ngIf="row.open">{{ getCheckPointRaceDateTime(row.id) | toRusDateTime }}</span>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="checkPointCheckTime">
          <th mat-header-cell *matHeaderCellDef class="header-cell">Контрольное время</th>
          <td mat-cell *matCellDef="let row" class="control-time">
            <span>{{ getCheckPointCheckTime(row.id) }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="checkPointCheckTime2">
          <td mat-cell *matCellDef="let row" class="control-time">
            <span *ngIf="row.open">{{ getCheckPointCheckDateTime(row.id) | toRusDateTime }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="checkPointLeaderTime">
          <th mat-header-cell *matHeaderCellDef class="header-cell" style="width: 113px;">Прогнозирумое время лидера Время между КТ
          </th>
          <td mat-cell *matCellDef="let row">
            <div class="cell-wrapper">
              <div class="cell">
                <span>{{ getCheckPointLeaderTime(row.id) }}</span>
                <span class="diff-time">{{ getCheckPointLeaderDiffTime(row.id) }}</span>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="checkPointLeaderTime2">
          <td mat-cell *matCellDef="let row">
            <div class="cell-wrapper">
              <div class="cell">
                <span *ngIf="row.open">{{ getCheckPointLeaderDateTime(row.id) | toRusDateTime }}</span>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="memberLabel">
          <td mat-cell *matCellDef="let row">
            <div style="font-size: 0.8em">Участники</div>
          </td>
        </ng-container>
        <ng-container matColumnDef="members">
          <td mat-cell *matCellDef="let row" [attr.colspan]="4">
            <div class="detail-content" style="font-size: 0.8em">
              {{ getCheckPointMembers(row.id) }}
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="dataTableBodyDef" class="sticky-header"></tr>

        <tr mat-row [ngClass]="{'disqualified': getCheckPointCheckTimeExpired(row.id)}"
            *matRowDef="let row; columns: membersBodyDef; " class="detail-row"
            [class.hidden]="isMembersHidden(row)" [class.not-hidden]="!isMembersHidden(row)"
            (click)="row.open = !row.open">></tr>
        <tr mat-row [ngClass]="{'disqualified': getCheckPointCheckTimeExpired(row.id)}" class="main-row"
            *matRowDef="let row; columns: dataTableBodyDef;"
            (click)="row.open = !row.open"></tr>
        <tr mat-row [ngClass]="{'disqualified': getCheckPointCheckTimeExpired(row.id)}" class="detail-row last-row"
            *matRowDef="let row; columns: dataTableBodyDef2;"
            [class.hidden]="!row.open" [class.not-hidden]="row.open"
            (click)="row.open = !row.open">></tr>
      </table>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="actions">
    <button mat-button type="button" (click)="cancel()">Закрыть</button>
  </mat-dialog-actions>
</form>
