<h2 mat-dialog-title>
  <span>{{ 'Время участника #' + data.athleteInfo.bibNumber }}</span>
  <br>
  <span>{{ '(' + data.athleteInfo.athlete.getShortFIO() + ')' }}</span>

  <button *ngIf="!localTime" mat-flat-button color="primary"
          class="race-action"
          (click)="onToggleLocalTime()">Чистое время
  </button>
  <button *ngIf="localTime" mat-flat-button color="primary"
          class="race-action"
          (click)="onToggleLocalTime()">Местное время
  </button>

</h2>

<form>
  <mat-dialog-content class="dialog-content">
    <div class="table-wrapper">
      <table mat-table [dataSource]="data.checkPoints" class="data-table">
        <ng-container matColumnDef="checkPoint">
          <th mat-header-cell *matHeaderCellDef>КТ</th>
          <td mat-cell class="bold" *matCellDef="let row">{{ row.name }}</td>
        </ng-container>

        <ng-container matColumnDef="distance">
          <th mat-header-cell *matHeaderCellDef>КМ</th>
          <td mat-cell *matCellDef="let row">{{ row.totalDistance }}</td>
        </ng-container>

        <ng-container matColumnDef="raceTime">
          <th mat-header-cell *matHeaderCellDef style="width: 113px;"><span *ngIf="!localTime">Чистое время</span><span
            *ngIf="localTime">Местное время</span>
            <br>Время между КТ
          </th>
          <td mat-cell *matCellDef="let row">
            <span *ngIf="!localTime" class="bold"
                  [ngClass]="{'check-time-expired': getCheckPointCheckTimeExpired(row.id)}">{{
                getCheckPointRaceDuration(row.id)
              }}</span>
            <span *ngIf="localTime" class="bold"
                  [ngClass]="{'check-time-expired': getCheckPointCheckTimeExpired(row.id)}">{{
                getCheckPointRaceDateTime(row.id) | toRusDateTime
              }}</span>
            <br>
            <span class="diff-time">{{ getCheckPointDiffTime(row.id) }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="checkPointCheckTime">
          <th mat-header-cell *matHeaderCellDef>Контрольное время</th>
          <td mat-cell *matCellDef="let row" class="control-time">
            <span *ngIf="!localTime">{{ getCheckPointCheckTime(row.id) }}</span>
            <span *ngIf="localTime">{{ getCheckPointCheckDateTime(row.id) | toRusDateTime }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="checkPointLeaderTime">
          <th mat-header-cell *matHeaderCellDef style="width: 113px;">Прогнозирумое время лидера /<br>Время между КТ
          </th>
          <td mat-cell *matCellDef="let row">
            <span *ngIf="!localTime">{{ getCheckPointLeaderTime(row.id) }}</span>
            <span *ngIf="localTime">{{ getCheckPointLeaderDateTime(row.id) | toRusDateTime }}</span>
            <br>
            <span class="diff-time">{{ getCheckPointLeaderDiffTime(row.id) }}</span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="dataTableBodyDef" class="sticky-header"></tr>
        <tr mat-row [ngClass]="{'disqualified': getCheckPointCheckTimeExpired(row.id)}"
            *matRowDef="let row; columns: dataTableBodyDef;"></tr>
      </table>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="actions">
    <button mat-button type="button" (click)="cancel()">Закрыть</button>
  </mat-dialog-actions>
</form>
