<h2 mat-dialog-title>Установить статус</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Статус</mat-label>
      <input matInput formControlName="state" [readonly]="true"/>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Дата статуса</mat-label>
      <input matInput [matDatepicker]="startPicker" formControlName="stateDate"/>
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Время статуса</mat-label>
      <input matInput type="time" formControlName="stateTime" step="1"/>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Отмена</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="form.invalid">
    Сохранить
  </button>
</mat-dialog-actions>
